.header {
  border-bottom: 1px solid var(--gray-header-border);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--primary-white-color);

  z-index: 5;

  &__container {
    @extend %align-center-elem;
  }
}
