.porfolio__top-part {
  position: relative;
  overflow: hidden;
}

.porfolio__backdrop {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: #2196f3e5;

  transform: translateY(100.3%);
  transition: transform var(--transition-standart);

  .porfolio__link:hover &,
  .porfolio__link:focus & {
    transform: translateY(0);
  }
}

.porfolio__text {
  display: inline-block;
  padding: 77px 24px;

  @include font(null, 18px, 1.56, 0.03em);
  color: var(--primary-white-color);
}
// .porfolio__text {
//   padding: 63px 24px;

//   @include font(null, 18px, 1.56, 0.03em);

// }
