.backdrop {
  display: none;
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   background-color: var(--background-backdrop);
//   opacity: 1;

//   transition: opacity var(--transition-standart);
//   z-index: 10;
// }

// .backdrop--is-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

// .backdrop--is-hidden .modal {
//   transform: translate(-50%, -50%) scale(1.1);
// }

// .modal {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   width: 528px;
//   height: 581px;
//   background-color: var(--primary-white-color);
//   box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;

//   transform: translate(-50%, -50%) scale(1);

//   transition: transform var(--transition-standart);
// }

// .modal__btn-close {
//   position: absolute;
//   right: 8px;
//   top: 8px;
//   @extend %flex-center-elem;

//   width: 30px;
//   height: 30px;
//   border: 1px solid #0000001a;
//   border-radius: 50%;

//   cursor: pointer;
//   color: var(--accent-blue-color);
//   background-color: transparent;
// }

// .modal__cross-svg {
//   transition: fill var(--transition-standart);

//   .modal__btn-close:hover &,
//   .modal__btn-close:focus & {
//     fill: currentColor;
//   }
// }

// /* -----MODAL-FILL----- */

// .form {
//   display: flex;
//   flex-direction: column;
//   text-align: left;
//   padding: 40px;
// }

// .form__title {
//   margin-bottom: 12px;

//   @include font(700, 20px, 1.15, null, center);

//   color: var(--secondary-black-color);
// }

// .label + .label {
//   margin-top: 10px;
// }

// .label__name {
//   display: block;
//   margin-bottom: 4px;

//   @include font(null, 12px, 1.16, 0.01em);
// }

// .input-wrapper {
//   position: relative;
// }

// .input {
//   display: block;
//   width: 100%;
//   padding-left: 42px;
//   padding-top: 11px;
//   padding-bottom: 11px;

//   border: 1px solid var(--input-border-color);
//   border-radius: $primBordRadius;

//   transition: border-color var(--transition-standart);
// }

// .input:focus-visible,
// .textarea:focus-visible {
//   outline: none;
// }

// .label:focus-within .input,
// .label:focus-within .textarea,
// .label:hover .input,
// .label:hover .textarea,
// .form__checkbox:focus ~ .icon-check {
//   border-color: var(--accent-blue-color);
// }

// .input__icon {
//   position: absolute;
//   top: 50%;
//   left: 12px;

//   transform: translateY(-50%);
//   transition: fill var(--transition-standart);
// }

// .label:focus-within .input ~ .input__icon {
//   fill: var(--accent-blue-color);
// }

// .textarea {
//   width: 100%;
//   height: 120px;
//   padding: 12px 16px;
//   resize: none;

//   border: 1px solid var(--input-border-color);
//   border-radius: $primBordRadius;

//   @include font(null, 12px, 1.16, 0.01em);

//   transition: border-color var(--transition-standart);

//   &::placeholder {
//     color: #75757580;
//   }
// }
